body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
    color: #333;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
    width: 90%;
}

h1 {
    color: #e74c3c;
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
    margin-bottom: 15px;
}

.countdown {
    font-size: 2em;
    font-weight: bold;
    color: #3498db;
    margin-top: 30px;
    margin-bottom: 20px;
}

.button {
    background-color: #3498db; /* Warna biru */
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #2980b9; /* Warna biru lebih gelap saat di-hover */
}